#b1 { background: hsl(0, 50%, 50%);
text-align: center; }
#b2 { background: hsl(30, 50%, 50%);
  text-align: center; }
#b3 { background: hsl(60, 50%, 50%); 
  text-align: center;}
#b4 { background: hsl(90, 50%, 50%);
  text-align: center; }
#b5 { background: hsl(120, 50%, 50%);
  text-align: center; }
#b6 { background: hsl(150, 50%, 50%);
  text-align: center; }
#b7 { background: hsl(180, 50%, 50%);
  text-align: center; }
#b8 { background: hsl(210, 50%, 50%);
  text-align: center; }
#b9 { background: hsl(240, 50%, 50%);
  text-align: center; }
#b10 { background: hsl(270, 50%, 50%); 
  text-align: center;}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }          

.point1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
      
}
