body{
    animation: change 5s ease infinite;
}

@keyframes change{
    0%{background: lightpink;}
    25%{background: skyblue;}
    50%{background: #696969;}
    75%{background: #008080;}
    100%{background: lightpink;}
}

.image{
    position: relative;
}

#image1{
    animation: move 5s 0s linear infinite;
}
#image2{
    animation: move 5s 2s linear infinite;
}
#image3{
    animation: move 5s .5s linear infinite;
}
#image4{
    animation: move 5s 1.5s linear infinite;
}
#image5{
    animation: move 5s 0s linear infinite;
}
#image6{
    animation: move 5s 2s linear infinite;
}
#image7{
    animation: move 5s .5s linear infinite;
}
#image8{
    animation: move 5s 1.5s linear infinite;
}
#image9{
    animation: move 5s 0s linear infinite;
}
#image10{
    animation: move 5s 2s linear infinite;
}
#image11{
    animation: move 5s .5s linear infinite;
}
#image12{
    animation: move 5s 1.5s linear infinite;
}
#image13{
    animation: move 5s 0s linear infinite;
}
#image14{
    animation: move 5s 2s linear infinite;
}
#image15{
    animation: move 5s .5s linear infinite;
}
#image16{
    animation: move 5s 1.5s linear infinite;
}
#image17{
    animation: move 5s 0s linear infinite;
}
#image18{
    animation: move 5s 2s linear infinite;
}
#image19{
    animation: move 5s .5s linear infinite;
}
#image20{
    animation: move 5s 1.5s linear infinite;
}
#image21{
    animation: move 5s 0s linear infinite;
}
#image22{
    animation: move 5s 2s linear infinite;
}
#image23{
    animation: move 5s .5s linear infinite;
}
#image24{
    animation: move 5s 1.5s linear infinite;
}
#image25{
    animation: move 5s 0s linear infinite;
}
@keyframes move{
    0%{
        top: -25px;
    }
    100%{
        top: 600px;
    }
}