img{
    border: 1px solid;
    
    
}

p{
    color: cyan;
    
}
h1{
    color: rgb(226, 0, 0);
}

h2{
    margin-top: 32px;
    color: rgb(177, 67, 162);
    
}

.profile img{
    margin-right: 12px;
    width: 100px;
    height: 100px;
    position: relative;
    
}

.pointer{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;    
    background: rgb(207, 235, 53);
       
    border: 1px solid rgba(255, 255,255,.1);
    border-radius: 50%;
    pointer-events: none;
    box-sizing: content-box;
    transition: 0.2s;
    
}
.pointer1{
    transition: 0.05s;    
}
.pointer2{
    transition: 0.10s;
}
.pointer3{
    transition: 0.15s;
}
.pointer4{
    transition: 0.20s;
}
.pointer5{
    transition: 0.25s;
}





  .pulsate {
    animation: pulse 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
    color: yellow;
    font-size: x-large;
}
@keyframes pulse {

    0% { 
        opacity: 0.2;
        color: orange;
    }
    50% { 
        opacity: 1.0;
        color: red;
    }
    
    100% { 
        opacity: 0.2;
        color: orange;
    }
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

.card {
    background-color: #BBBBFF;
}

.vink{
    position: fixed;
    left: -113px;
}
#myImage{
    
        width: 700px;
        height: 160px;
        position: absolute;
        border: 0cm;
        top: 0;
        left: 0;
        transform: scaleX(-1);
        
        
      }

      .pulsate2 {
        animation: pulse2 6s ease-out;
        animation-iteration-count: infinite; 
        opacity: 1.5;
        color: yellow;
        font-size: x-large;
    }
    @keyframes pulse2 {
    
        0% { 
            opacity: 1;
            color: green;
        }
        50% { 
            opacity: 1.5;
            color: blue;
        }
        
        100% { 
            opacity: 1;
            color: blueviolet;
        }
    }
    body{
      background-size: 100%;
    }
